<!DOCTYPE html>
<html lang="en">
<title>Ourphotos | Join</title>
<meta charset="UTF-8">
<head>
<link rel="icon" href="icon.png">
<meta name="google-site-verification" content="5uQS7qquRB_XsSVlfUliHcbExxJZ2lhnoLaJQ6o6eCk" />
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato">
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
<link rel="stylesheet" href="https://cdn.metroui.org.ua/v4.3.2/css/metro-all.min.css">
<link rel="stylesheet" href="/style.css"> 
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<style>
body,h1,h2,h3,h4,h5,h6 {font-family: "Lato", sans-serif}
.w3-bar,h1,button {font-family: "Montserrat", sans-serif}
.fa-anchor,.fa-coffee {font-size:200px}
</style>
<body>
<div class="w3-top">
  <div class="w3-bar w3-black w3-card w3-left-align w3-large">
    <a class="w3-bar-item w3-button w3-hide-medium w3-hide-large w3-right w3-padding-large w3-hover-white w3-large w3-red" href="javascript:void(0);" onclick="myFunction()" title="Toggle Navigation Menu"><i class="fa fa-bars"></i></a>
    <a href="/" class="w3-bar-item w3-button w3-hide-small w3-padding-large w3-hover-white">Upload File</a>
		<a href="/reportImage" class="w3-bar-item w3-button w3-hide-small w3-padding-large w3-hover-white">Report An Image</a>
		<a href="/join" class="w3-bar-item w3-button w3-padding-large w3-white">Why Join?</a>
  </div>
</div>
<header style="padding:100px 16px">
  <h1 class="w3-margin w3-center w3-jumbo">Ourphotos</h1>
  <p class="w3-xlarge w3-center">By Softsquirrel Studios + An alternative to the failed project, <a href="https://ministorage.softsquirrel.tk/">ministorage</a></p>
	<hr>
</header>
<div class="w3-row-padding w3-padding-0 w3-container">
  <div class="w3-content">
    <div class="w3-twothird">
      <h1>Share your photos</h1>
      <h5 class="w3-padding-32">With Ourphotos, you can share your image with a link to friends and family!</h5>
      <p class="w3-text-grey">How it work's is when you upload a photo, you can share it with a link to many people including friends and family. Now here is some useless text to make it look like it this website is a good website.</p>
			 <br>
    </div>

    <div class="w3-third w3-center">
      <img src="https://rentalcrates.com/wp-content/uploads/2017/08/pictures-icon-22.gif" width="200px" height="200px" draggable="false">
    </div>
  </div>
</div>
<div class="w3-row-padding w3-light-grey w3-padding-64 w3-container">
  <div class="w3-content">
    <div class="w3-third w3-center">
			<img src="https://static.thenounproject.com/png/249799-200.png" draggable="false">
    </div>
    <div class="w3-twothird">
      <h1>Do More With Ourphotos</h1>
      <h5 class="w3-padding-32">With DebitStore, it is more likely that this website will get hacked due to poor database security, BUT, you cannot do that with other websites such as imgBB or imgur!</h5>
      <p class="w3-text-grey">Get your photos deleted today!</p>
    </div>
  </div>
</div>
<div class="w3-row-padding w3-padding-0 w3-container">
  <div class="w3-content">
    <div class="w3-twothird">
      <h1>Shuts Down Your Computer</h1>
      <h5 class="w3-padding-32">Using Softsquirrel websites, We have had a few cases where your computer shuts down! We honestly have no idea why this happen's and we will not fix it because here at softsquirrel studios, we dont fix bugs, we create them! It should'nt be a problem as you can easily restart your PC!</h5>
        <p class="w3-text-grey">Get your Computer Shut Down For No Reason!</p>
			 <br>
    </div>

    <div class="w3-third w3-center">
      <img src="https://static.thenounproject.com/png/20292-200.png" width="200px" height="200px" draggable="false">
    </div>
  </div>
</div>
<h4 class="center">Subscribe!</h4>
<script src="https://apis.google.com/js/platform.js"></script><div class="center"><div class="g-ytsubscribe" data-channelid="UCNCsbNQCrs0RrjE6mm8IyIQ" data-layout="full" data-theme="dark" data-count="default"></div></div>
<div class="w3-container w3-black w3-center w3-opacity w3-padding-64">
<h1 class="w3-margin w3-xlarge">Get Started Today!</h1>
</div>
</body>
</html>
