<!DOCTYPE html>
<html lang="en">
<title>Ourphotos | Report</title>
<meta charset="UTF-8">
<link rel="icon" href="icon.png">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato">
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
<link rel="stylesheet" href="https://cdn.metroui.org.ua/v4.3.2/css/metro-all.min.css">
<link rel="stylesheet" href="/style.css">
<style>
body,h1,h2,h3,h4,h5,h6 {font-family: "Lato", sans-serif}
.w3-bar,h1,button {font-family: "Montserrat", sans-serif}
.fa-anchor,.fa-coffee {font-size:200px}
</style>
<body>
<div class="w3-top">
  <div class="w3-bar w3-black w3-card w3-left-align w3-large">
    <a class="w3-bar-item w3-button w3-hide-medium w3-hide-large w3-right w3-padding-large w3-hover-white w3-large w3-red" href="javascript:void(0);" onclick="myFunction()" title="Toggle Navigation Menu"><i class="fa fa-bars"></i></a>
    <a href="/" class="w3-bar-item w3-button w3-hide-small w3-padding-large w3-hover-white">Upload File</a>
		<a href="/reportImage" class="w3-bar-item w3-button w3-padding-large w3-white">Report An Image</a>
		<a href="/join" class="w3-bar-item w3-button w3-hide-small w3-padding-large w3-hover-white">Why Join?</a>
  </div>
	<h2 class="center">Report An Image</h2>

<form method="POST" action="/report" class="center">

    <div class="form-group">
			<input type="text" name="imageLink" placeholder="Image Link">
			<textarea name="description" placeholder="Description of Image" rows="10" cols="25"></textarea>	        
    </div>
    <div class="form-group">
        <button class="button success">Submit data</button>				
        <input type="button" class="button" value="Cancel">
    </div>
</form>
<p class="Font2 center"><%=message%></p>
</body>
</html>